
.afspraak {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0px 0px 20px #000000a3;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 80px;
    overflow-y: none;
}

.formulier-groep {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
label{
    color: black;
}
.formulier-groep input,
.formulier-groep textarea {
    width: 100%;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: 1px solid rgb(65, 132, 139);
    margin-top: 5px;
    background-color: transparent;
    color: black;
    border-radius: 20px;
}

textarea {
    resize: vertical;
    background-color: white;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 7px;
    transition: 0.3s ease background-color;
}

button[type="submit"]:hover {
    background-color: orangered;
}
