body{
  background-color:#FFA641;
}

.slider{
  width:800px;
  height:500px;
  border-radius:10px;
  overflow:hidden;
 
 }
 .slides{ 
   width:500%;
  height:500px;
  display:flex;
 }
 .slides input{ 
   display:none;
 }
 .slide{
   width:20%;
   transition:2s;
 }
 
.navigation-manual{
 position: absolute;
 display: flex;
 justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #FFA641;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}