* {box-sizing:border-box}

/* Slideshow container*/
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 690px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* foto */
.foto {
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 80px;
  text-align: center;
}

/* Number text (1/4) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-top: -30px;
}

